body{
    background: rgb(119,0,95);
    background: linear-gradient(98deg, rgba(119,0,95,1) 0%, rgba(16,1,42,1) 47%);
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0;

}

header{
    margin-top: -20px;
    text-align: center;
    color: gray;
    margin-bottom: -10px;
}

header p{
    margin-top: -20px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

article {
    justify-content: center;
    border: none;
    padding: 10px 10px;
    margin-left: 15px;
    line-height: 0.6;
}

article h2{
    line-height: 0.6;
    font-size: 10px bold;
}

article p{
    font-size: 5px solid;
}

.hero  {
    display: flex;
    justify-content: space-between;
    margin-left: 44px;
    margin-right: 50px;
}

.hero .images {
    border-radius: 10px;
    border: 1.5px solid white;
    color: white;
}

.hero2{
    display: flex;
    justify-content: space-between;
    margin-left: 44px;
    margin-right: 50px;
}
.hero2 .images{
    border-radius: 10px;
    border: 1.5px solid white;
    color: white;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    padding: 8px 16px;
    font-size: 32px ;
}

h5{
    font-family: sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 8px 16px;
    margin-inline: 50px 20px;
}


h2, h3, p{
    margin-left: 20px;
    color: white;
}


